@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.tagList {
  margin-top: 10px;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .tagListItem {
    margin-right: 10px;
    padding: 5px;

    height: auto;

    color: $black;

    border-radius: 5px;
    border-bottom: 1px black solid;

    background-color: $red;

    list-style: none;

    .tag {
      &:hover {
        color: $white;

        border-bottom: 1px $white solid;
      }
    }

    .activeTag {
      border-radius: 5px;

      color: $white;
    }
  }
}

