@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.author {
  padding: 10px;

  width: 100%;
  height: auto;

  @include flexStart;
  flex-direction: row;

  .userImage {
    width: 50px;
    height: 50px;

    border-radius: 100%;
  }

  .userInfo {
    margin-left: 10px;

    height: 50px;

    @include flexStart;
    flex-direction: column;

    .userName {
      height: 50%;

      color: $red;
    }

    .createdAt {
      height: 50%;
    }
  }
}