@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.tagsWrapper{
  padding: 10px;

  display: flex;
  flex-basis: 30%;
  flex-direction: column;

  .tagsTitle{
    text-align: center;

    width: 50%;
  }

  .tags {
    margin-top: 10px;

    width: 50%;
    height: auto;
    min-height: 190px;

    @include flexCenter;
    flex-direction: row;
    flex-wrap: wrap;

    border-radius: 5px;

    box-shadow: 0 0 50px $lightGray;

    background-color: $red;

    .tag {
      margin-right: 5px;

      height: auto;

      color: $white;

      border-bottom: 1px $black solid;

      &:hover {
        color: black;

        border-bottom: 1px $white solid;
      }
    }
  }
}

