@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.pagesList {
  margin: 20px 0 20px 0;

  width: 80%;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;

  border-radius: 5px;

  background-color: $pink;
}
