@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.articleWrapper {
  margin-top: 10px;

  width: 100%;
  height: auto;

  @include flexCenter;
  flex-direction: column;

  .articleBanner {
    padding: 20px;

    width: 80%;
    height: auto;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 5px;

    box-shadow: 0 0 50px $lightGray;

    background-color: $white;

    .mainInfoBlock{
      width: 100%;

      word-wrap: break-word;
    }
    .buttonsBlock{
      display: flex;
      justify-content: flex-end;

      .editButton {
        margin-right: 10px;

        width: 10%;
        height: 50px;

        @include flexCenter;

        font-size: 15px;

        border-radius: 10px;

        background-color: $lightGreen;
      }

      .deleteButton {
        width: 10%;
        height: 50px;

        font-size: 15px;
        color: $white;

        border: none;
        border-radius: 10px;

        background-color: $red;

        cursor: pointer;
      }
    }
  }

  .articleBody {
    margin-top: 10px;
    padding: 20px;

    width: 80%;
    height: auto;
    min-height: 400px;

    display: flex;
    flex-direction: column;

    border-radius: 5px;

    box-shadow: 0 0 50px $lightGray;

    background-color: $white;

    word-wrap: break-word;
  }
}