@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.settingsWrapper {
  width: 100%;
  height: 100vh;

  @include flexCenter;
  flex-direction: column;

  .settingsFormBanner {
    margin-top: 100px;
    padding: 10px;

    width: 60%;
    height: 10%;

    @include flexCenter;

    font-size: 40px;

    border-radius: 5px;

    background-color: $pink;

    p {
      border-bottom: 1px $black solid;
    }
  }

  .formWrapper {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .formInput {
      margin: 5px 0 5px 0;
      padding: 10px;

      width: 100%;
      height: 5%;

      font-size: 20px;

      border: none;
      border-radius: 5px;
      outline: none;

      box-shadow: 0 0 10px $lightGreen;

      background-color: $white;
    }

    .formTextArea {
      margin: 5px 0 5px 0;
      padding: 10px;

      width: 100%;
      height: 30%;

      font-size: 20px;

      border: none;
      border-radius: 5px;
      outline: none;

      box-shadow: 0 0 10px $lightGreen;

      background-color: $white;
    }

    .updateButton, .deleteButton {
      margin-top: 5px;

      width: 20%;
      height: 5%;

      font-size: 20px;

      border: none;
      border-radius: 5px;

      color: $white;

      background-color: $red;

      cursor: pointer;
    }

    .updateButton{
      background-color:$lightGreen ;
      color: $black;
    }

  }
}