@mixin flexCenter {
  display:flex;
  align-items: center;
  justify-content: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
}

@mixin flexEnd {
  display: flex;
  justify-content: flex-end;
}