$white: #ffff;
$black: #000000;
$pink: #bdbee0;
$yellow: #faff00;
$green: #05ff00;
$brown: #1e181a;
$orange: #ff641c;
$red: #bf5253;
$gray: #5b6073;
$blue: #227cb3;
$lightGray: #d1d1d1;
$lightGreen: #cae8dd;

$backgroundImageUrl: "https://static-cse.canva.com/blob/194654/Rainbow-Gradient-Pink-and-Purple-Zoom-Virtual-Background.png";