@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.wrapper {
  width: 100%;
  height: auto;

  @include flexCenter;
  flex-direction: row;

  .articles {
    flex-basis: 70%;
  }

  .tags {
    height: 1000px;

    flex-basis: 30%;
  }
}