@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.wrapper {
  margin-top: 20px;

  width: 80%;
  height: 100px;

  @include flexCenter;

  .loader {
    width: 20%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      width: 10px;
      height: 10px;

      background-color: $white;
      border-radius: 50%;

      animation: circle 1s linear infinite;
    }

    .first {
      animation-delay: 0.05s;
    }

    .second {
      animation-delay: 0.3s;
    }

    .third {
      animation-delay: 0.5s;
    }

    @keyframes circle {
      0% {
        background-color: $red;

        transform: scale(3);
      }
      15% {
        transform: scale(2);
      }
      55% {
        transform: scale(1);
      }
      85% {
        transform: scale(2);
      }
      100% {
        transform: scale(3);
      }
    }
  }
}