@import "../../assets/styles/variables";

.navBar {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 70%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      height: 100%;

      display: flex;
      flex-basis: 10%;
      align-items: center;

      font-size: 55px;
      text-transform: uppercase;

      img{
        width: 100px;
        height: 100px;
      }
    }

    .navList {
      height: 100%;

      display: flex;
      flex-basis: 90%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .navItem {
        margin-right: 10px;

        font-size: 20px;
        text-transform: uppercase;

        list-style: none;

        .navLink {
          transition:  0.5s;
        }
        .navLinkActive {
          transition:  0.5s;
          color: $red;
        }
      }
    }
  }
}